/*  Start Slide Product  */
#container_move{
	width:650px;
	padding:10px;
	margin:0 auto;
	position:relative;
	z-index:0;
	background:#ececec;
}
#products_example {
	width:670px;
	height:282px;
	position:relative;
}
#products {
	margin-left:36px;
}
#products .slides_container {
	width:366px;
	overflow:hidden;
	float:left;
	position:relative;
	border:1px solid #dfdfdf;
	display:none;
}
.slides_container a {
	width:366px;
	height:275px;
	display:block;
}
#products .next,#products .prev {
	position:absolute;
	top:127px;
	left:0;
	width:19px;
	height:0;
	padding-top:21px;
	overflow:hidden;
	display:block;
	z-index:101;
}
#products .prev {
	left:10px;
	background:url(../img/slide_product/arrow-prev.png);
}

#products .next {
	left:408px;
	background:url(../img/slide_product/arrow-next.png);
}
#products .pagination {
	background:#FFF;
	margin:0 0 0 0;
	width:185px;
	padding:5px 5px;
	float:left;
	margin-left:45px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#products .pagination li {
	float:left;
	margin:2px 4px;
	list-style:none;
	background:#CCC;
}
#products .pagination li a {
	display:block;
	width:80px;
	height:60px;
	margin:1px;
	float:left;
	background:#FFF;
}
#products .pagination li.current a {
	border:1px solid #dd4b39;
	margin:0;
	width:80px;
	height:60px;
}
/*  End Slide Product  */
